<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="classes">
    <test name="opencartdemo">   
        <classes>  
        <class name="com.opencart.tests.OpencartDemo"/>
        <class name="com.opencart.tests.OrderHistory"/>             
        class name="com.opencart.tests.RegistrationAddToCart"/>      
        </classes> 
    </test>   
     
     
</suite>


      
       